<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xinkai.admin.boot.mapper.PermissionMapper">
    <!-- 获取权限分页列表 -->
    <select id="listPermPages" resultType="com.xinkai.admin.boot.pojo.vo.PermPageVO">
        SELECT
        t1.id,
        t1.menu_id,
        t1.NAME,
        t1.btn_perm,
        t3.NAME requestMethod,
        t4.NAME serviceName,
        t1.requestPath
        FROM
        (
        SELECT
        id,
        menu_id,
        NAME,
        btn_perm,
        SUBSTRING_INDEX( url_perm, ':', 1 ) requestMethod,
        SUBSTRING_INDEX( SUBSTR( SUBSTRING_INDEX( url_perm, ':',- 1 ), 2 ), '/', 1 ) serviceName,
        SUBSTR(
        SUBSTRING_INDEX( url_perm, ':', - 1 ),
        LENGTH(
        SUBSTRING_INDEX( SUBSTR( SUBSTRING_INDEX( url_perm, ':',- 1 ), 2 ), '/', 1 ))+ 2
        ) requestPath
        FROM
        xk_permission
        ) t1
        LEFT JOIN xk_menu t2 ON t1.menu_id = t2.id
        LEFT JOIN xk_dict_item t3 ON t3.`value` = t1.requestMethod
        LEFT JOIN xk_dict_item t4 ON t4.`value` = t1.serviceName
        <where>
            <if test='queryParams.name != null and queryParams.name.trim() neq ""'>
                and t1.name like concat('%',#{queryParams.name},'%')
            </if>
            <if test='queryParams.menuId !=null '>
                and t1.menu_id = #{queryParams.menuId}
            </if>
        </where>
        ORDER BY t1.id DESC
    </select>
</mapper>